* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .homeImg {
    display: flex;
    flex: 1;
    img {
      width: 100vw;
    }
  }
}

.contents {
  display: flex;
  position: absolute;
  gap: 0.52vw;
  .eye {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .pupil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
  }
}

.contents1 {
  @extend .contents;
  top: 18vw;
  left: 5.9vw;
  gap: 0.46vw;
  transform: rotate(-25deg);
  .eye {
    width: 4vw;
    height: 7.7vw;
  }
  .pupil {
    width: 1.04vw;
  }
}

.contents2 {
  @extend .contents;
  bottom: 2.6vw;
  left: 29.53vw;
  gap: 0.63vw;
  transform: rotate(-38.83deg);
  .eye {
    width: 5.1vw;
    height: 10.94vw;
    &:last-child {
      width: 5.4vw;
      transform: rotate(-5deg);
    }
  }
  .pupil {
    width: 1.82vw;
  }
}

.contents3 {
  @extend .contents;
  bottom: 2.08vw;
  left: 3.13vw;
  transform: rotate(58.12deg);
  .eye {
    width: 2.86vw;
    height: 5.21vw;
  }
  .pupil {
    width: 0.78vw;
  }
}

.contents4 {
  @extend .contents;
  top: 4.69vw;
  left: 23.02vw;
  transform: rotate(28.03deg);
  gap: 0.2vw;
  .eye {
    width: 1.5vw;
    height: 3.13vw;
    &:last-child {
      width: 1.6vw;
    }
  }
  .pupil {
    width: 0.52vw;
  }
}

.contents5 {
  @extend .contents;
  top: 1.78vw;
  left: 61.76vw;
  transform: rotate(325deg);
  gap: 0.35vw;
  .eye {
    width: 4.57vw;
    height: 8.63vw;
    &:last-child {
      width: 4.37vw;
    }
  }
  .pupil {
    width: 1.56vw;
  }
}

.contents6 {
  @extend .contents;
  bottom: 22.92vw;
  left: 76.82vw;
  transform: rotate(14deg);
  .eye {
    width: 3.13vw;
    height: 6.25vw;
  }
  .pupil {
    width: 1.04vw;
  }
}

.contents7 {
  @extend .contents;
  top: 4.95vw;
  left: 94.11vw;
  transform: rotate(370deg);
  .eye {
    width: 3.13vw;
    height: 6.25vw;
  }
  .pupil {
    width: 1.3vw;
  }
}

.contents8 {
  @extend .contents;
  bottom: 7.55vw;
  left: 97.66vw;
  transform: rotate(-27.52deg);
  gap: 0.26vw;
  .eye {
    width: 2.08vw;
    height: 4.17vw;
  }
  .pupil {
    width: 0.52vw;
  }
}
