@use '../variables' as *;

.container {
  padding: 1.042vw 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $background-color;
  z-index: 1000;
  .contents {
    position: relative;
    width: 100%;
    .logo {
      flex: 1;
      position: absolute;
      left: 1.042vw;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10.417vw;
      .nav-item {
        font-size: 2rem;
        text-decoration: none;
        color: $text-color-main;
        font-weight: 700;
        transition: color 0.3s ease;
        &:hover {
          color: #919994;
        }
      }
      .current {
        text-decoration: underline;
      }
    }
  }
}

.isHome {
  background-color: transparent;
}
