.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .back {
    width: 66.98vw;
  }

  .contents {
    display: flex;
    position: absolute;
    top: 32%;
    left: 46%;
    gap: 0.52vw;
  }
}

.eye {
  width: 3.44vw;
  height: 6.77vw;
  // background-color: white; // 눈위치 체크용
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  .pupil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    width: 1vw;
  }
}
