@use "../variables" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $sub-color;
  border-radius: 30px;
  padding: 25px 42px;
  &:hover {
    cursor: pointer;
    background-color: #0485a233;
    transform: translateY(-10%);
  }
  .title {
    line-height: 20px;
    color: $text-color-main;
    font-size: 30px;
    transition: background-color 0.3s ease;
  }
  transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.isClick {
  // 클릭되었을 때
  background-color: $sub-color;
  &:hover {
    cursor: pointer;
    background-color: rgba(145, 54, 54, 0.232);
    border: 1px solid rgb(157, 58, 58);
  }
}
