@use "../variables" as *;

@mixin flex(
  $direction: row,
  $align-items: center,
  $justify-content: center,
  $gap: null
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
}

// 틀만 생성해놓기
.container {
  @include flex(column);
  width: 100%;
  min-height: 1080px;
  height: 100vh;
  background-color: $background-color;
  .header {
    .titleImg {
      flex: 1;
    }
  }
  .contents {
    @include flex(column, $gap: 40px);
    .selectContainer {
      @include flex($gap: 20px);
    }
    .description {
      color: $text-color-main;
      font-size: 1.75rem;
    }
    .tagContainer {
      @include flex($gap: 10px);
      max-width: 1250px;
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  .linkButton {
    @include flex($gap: 7px);
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #363636;

    border-radius: 15px;
    padding: 20px 80px;
    box-shadow: 0 4 4 white;
    .text {
      font-size: 24px;
      font-weight: 700;
      color: $text-color-main;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.modalContainer {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: #363636;
  color: $text-color-main;
  font-size: 24px;
  border-radius: 15px;
  transition: transform 0.7s ease-out, opacity 0.5s ease-out;
  position: fixed;
  bottom: 20px;
}
.hidden {
  opacity: 0;
  transform: translateY(100%);
}
