@use "../variables" as *;

.text {
  color: $text-color-main;
  position: absolute;
  font-size: 2vw;
  top: 33%;
}

.buttonWrapper {
  display: flex;
  position: absolute;
  top: 58%;
  gap: 20px;
}

.startButton,
.gameButton {
  width: 14.58vw;
  height: 4.27vw;
  font-size: 1.46vw;
  font-weight: bold;
  padding: 0.63vw 1.25vw;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  @include flex($gap: 0.52vw);
  img {
    width: 1.46vw;
  }
  &:hover {
    transform: translateY(-0.52vw);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    opacity: 80%;
    box-shadow: 1.43px 5.71px 14.27px #79797948;
  }
}

.startButton {
  background-color: #0098d8;
  color: white;
}

.gameButton {
  background-color: #f8dfc3;
  color: black;
}
