/* 공통 초기화 */
@use '../variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.permissionWrapper {
  width: 100vw;
  height: 100vh;
  background-color: #09130e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard-Regular';
}

.headerWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.permissionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: 'Pretendard-Regular';
}

.permissionImageLarge {
  width: 1280px;
  height: 493px;
  margin-bottom: 20px;
}

.permissionImageSmall {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.permissionText {
  color: white;
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}

.quizBox {
  display: flex; /* 두 요소를 가로로 배치 */
  flex-direction: row; /* 기본 설정: 왼쪽에 문제, 오른쪽에 이미지 */
  align-items: flex-start; /* 세로 정렬: 위쪽 정렬 */
  justify-content: flex-start; /* 수평 정렬 */
  position: absolute;
  left: 461px;
  top: 284px;
}

.quizBoxContent {
  display: flex;
  width: 100%; /* 전체 너비를 차지하게 설정 */
}

.quizContent {
  font-family: 'Pretendard-Regular';
  flex: 1; /* 문제와 선택지가 왼쪽에 차지할 공간 */
  margin-right: 150px; /* 이미지와 선택지 사이 간격 */
}

.choiceList {
  display: flex;
  flex-direction: column; /* 선택지들을 세로로 나열 */
  align-items: flex-start;
  font-family: 'Pretendard-Regular';
}

.choiceItem {
  color: #e8f8ee;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 65px;
  font-family: 'Pretendard-Regular';
}

.quizImage {
  width: 400px; /* 이미지 크기 조정 */
  height: 301px;
  margin-left: auto; /* 이미지를 오른쪽에 배치 */
  margin-right: 0;
  border-radius: 12px;
  flex-shrink: 0;
}

.question {
  color: #e8f8ee;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 63px;
  font-family: 'Pretendard-Regular';
}

.choiceLabel {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  color: white;
  transition: color 0.2s ease;
  font-family: 'Pretendard-Regular';
}

.choiceLabel.disabledChoice {
  color: #767676;

  .numberPrefix {
    background-color: #767676;
    color: white;
    border-color: #767676;
  }
}

.labelContent {
  display: inline-flex;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  color: white;
  font-family: 'Pretendard-Regular';
}

.hiddenRadio {
  display: none;
}

.numberPrefix {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  border: 2px solid white;
  margin-right: 20px;
  transition: all 0.25s ease;
  font-family: 'Pretendard-Regular';
}

.hiddenRadio:checked ~ .labelContent .numberPrefix {
  background-color: white;
  color: black;
  border-color: black;
}

.nextButton {
  background-color: #0e6f3a;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Pretendard-Regular';
}

.nextButton:hover {
  background-color: #43a047;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalBox {
  background-color: #e8f8ee;
  border-radius: 30px;
  width: 874px;
  height: 537px;
  box-shadow: 0 0 16px rgba(0, 102, 255, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard-Regular';

  .resultImage {
    margin-top: 141px;
    width: 128px;
    height: 128px;
  }
}

.resultText {
  font-size: 32px;
  color: #356549;
  margin-top: 50px;
  font-weight: bold;
  font-family: 'Pretendard-Regular';
}

.modalButton {
  background-color: #0485a2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 60px;
  width: 226px;
  height: 68px;
  color: white;
  border: 4px solid #1c5f8e;
  padding: 12px 28px;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Pretendard-Regular';
}

.modalButton:hover {
  background-color: #555;
}

.modalnextIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: inline-block;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #fff;
  font-family: 'Pretendard-Regular';
}

.progressWrapper {
  position: fixed;
  bottom: 37px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progressTime {
  font-size: 18px;
  font-weight: bold;
  color: #e8f8ee;
  font-family: 'Pretendard-Regular';
  margin-left: 8px;
  margin-bottom: 20px; /* 바 위로 20px 간격 */
}

.progressBarContainer {
  width: 100%;
  position: relative;
}

.progressBar {
  width: 100%;
  height: 12px;
  background-color: #c8edd4;
  border-radius: 6px;
  overflow: visible;
  position: relative;
  display: flex;
  align-items: center;
}

.progressFill {
  height: 100%;
  background-color: #0e6f3a;
  transition: width 0.3s ease;
  border-radius: 6px 0 0 6px;
}

.progressDot {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #0e6f3a;
  border-radius: 50%;
  z-index: 2;
  transition: left 0.1s linear;
}

.quizEndWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #09130e;
  width: 100vw;
  height: 100vh;
}

.quizEndImage {
  margin-bottom: 57px; // ✅ 이미지 아래 간격
  width: 160px;
}

.quizEndText {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Pretendard-Regular';
}

.resultWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Pretendard-Regular';

  .resultImage {
    margin-top: 270px;
    width: 321px;
    height: 485px;
    margin-bottom: 49px;
  }
}

.resultScore {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-bottom: 26px;
  font-family: 'Pretendard-Regular';
}

.resultMessage {
  font-size: 28px;
  color: white;
  font-weight: 500;
  margin-bottom: 180px;
  font-family: 'Pretendard-Regular';
}

.resultFixedNextButton {
  text-decoration: none;
  width: 220px;
  height: 68px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 9999;
  font-family: 'Pretendard-Regular';
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #0485a2;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: 4px solid #1c5f8e;
  border-radius: 14px;
  padding: 12px 28px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.resultFixedNextButton:hover {
  background-color: #0277bd;
}

.nextIcon {
  width: 24px;
  height: 24px;
}

.quizIntroBox {
  position: absolute;
  top: 680px;
  left: 960px;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 10;
  color: white;
  font-family: 'Pretendard-Regular';
}

.quizLine1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -0.025em;
  font-family: 'Pretendard-Regular';
}

.quizLine2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 47px;
  letter-spacing: -0.025em;
  font-family: 'Pretendard-Regular';
}

.quizButton {
  width: 226px;
  height: 68px;
  font-size: 24px;
  font-weight: bold;
  background-color: #0485a2;
  color: #e8f8ee;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  border: 4px solid #1c5f8e;
  font-family: 'Pretendard-Regular';

  img {
    width: 25px;
    height: 25px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  }
}
