// @use './variables' as *; 로 불러온뒤
// color: $primary-color 이런식으로 사용

// 색상
$primary-color: #0e6f3a;
$sub-color: #0485a2;
$text-color-main: #e8f8ee;
$text-color-sub1: #505050;
$text-color-sub2: #767676;
$text-color-disable: #999999;
$background-color: #09130e;

@mixin flex(
  $direction: row,
  $align-items: center,
  $justify-content: center,
  $gap: null
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
}
