// @use './variables' as *; 로 불러온뒤 
// color: $primary-color 이런식으로 사용

// 색상
$primary-color: #0E6F3A;
$sub-color: #0485A2;
$text-color-main: #E8F8EE;
$text-color-sub1: #505050;
$text-color-sub2: #767676;
$text-color-disable: #999999;  